{% extends 'base.html' %}
{% block title %}Create Recipe - Scrumptious Recipes{% endblock title %}
{%block content%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create Recipe</button>
    </form>
{%endblock content%}
