{% extends 'base.html' %}
{% block title %}
    Edit Recipe - Scrumptious Recipes
{% endblock title %}
{%block content%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update Recipe</button>
    </form>
{%endblock content%}
