{% extends 'base.html' %}

{%block title%} Scrumptious Recipes {%endblock title%}
{%block header %}
    {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}" class="top-banner-text">| Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}" class="top-banner-text">| My recipes</a>
    {% endif %}
{%endblock header%}

{%block content%}
    <h1>
        Scrumptious Recipes
    </h1>
    <h2>
        All the food that's fit to eat
    </h2>
    <div class="grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"F j, Y" }}</p>
            <img src="{{ recipe.picture }}">
            <div>
                4.3 stars
            </div>
        </div>
        {% endfor %}
    </div>
{%endblock content%}
