{% extends 'base.html' %}

{% block title %}
Login - Scrumptious Recipes
{% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
<main>
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Login</button>
  </form>
</main>
{% endblock content %}
