{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock title %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/recipes.css" %}" />
</head>
<body>
    <header>
        <nav class="top-banner top-banner-text">
            <a href="{% url 'recipe_list' %}" class="top-banner-text">Main page</a>
            {% block header %} {% endblock header %}
            {% if user.is_authenticated %}
                | Hello, {{user.username}}
                <div class = "right-align">
                    <a href="{% url 'signout' %}" class="top-banner-text">| Log out </a>
                </div>
            {% else %}
                <a href="{% url 'signup' %}" class="top-banner-text">| Sign up</a>
                <a href="{% url 'login' %}" class="top-banner-text">| Login</a>
            {% endif %}

        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer class="bottom-banner">
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
